body {
    margin: 0;
    padding: 0;

}

#gFather {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* //////////////////////////////////////////////////////////////////// TELEVISION */


#TV {
    height: 90vh;
    width: 55em;

    background-color: #cecece;
    border-radius: 6px;
    border: .05px solid rgb(165, 165, 165);
    box-shadow: -3px 5px 4px 1px rgba(136, 136, 136, 0.5);
    transition: transform 0.5s ease, box-shadow 0.5s ease;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: .4em;

}

#tvScreen {
    height: 90%;
    width: 100%;

    box-shadow: inset 0px -2px 8px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tvScreenBackG{

}

#tvBot {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ioButton {
    height: 3em;
    width: 3em;
    margin-top: .2em;

    background-color: rgb(134, 134, 134);

    border-radius: 50%;

    border: 5px solid rgba(255, 255, 255, 0.1); /* Borde blanco con opacidad para agregar relieve */


    transform: translatey(-.01em);
}

#ioButton:hover {

    background-color: rgb(184, 197, 185);
    cursor: pointer;

    transform: translatey(.05em);


}

/* //////////////////////////////////////////////////////////////////// REMOTE */


#remote {
    height: 30em;
    width: 12.5em;
    border-radius: 10px;

    background-color: rgb(112, 112, 112);
    box-shadow: -3px 5px 4px 1px rgba(136, 136, 136, 0.5);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: .4em;
}

#remote:hover {
    border-radius: 8px;
    box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.5);
    transform: translatey(-8px);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* //////////////////////////////////////////////////////////////////// TOP BUTTONS */


#topButtons {
    height: 15%;
    width: 90%;

    background-color: rgb(46, 32, 32);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#tvButton,
#menuButton,
#sourceButton {
    height: 1em;
    width: 2em;

    border-radius: 10px;

    background-color: blueviolet;
}

#tvButton:hover,
#menuButton:hover,
#sourceButton:hover {

    background-color: rgb(178, 106, 245);
}

/* //////////////////////////////////////////////////////////////////// CROSS */


#cross {
    height: 25%;
    width: 90%;

    background-color: rgb(126, 94, 94);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* //////////////////////////////////////////////////////////////////// CHANELS */


#chanels {
    height: 60%;
    width: 90%;


    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      align-items: center;
      justify-items: center;
}

.chButton {
    height: 2.5em;
    width: 2.5em;

    border-radius: 50%;

    background-color: rgb(153, 37, 37);

    display: flex;
    justify-content: center;
    align-items: center;
}

.chButton:hover {
    background-color: rgb(230, 74, 74);
    cursor: pointer;
}


/* ////////////////////////////////////////////////////////////////////////////// CLASES/IDs DE JAVASCRIPT */

.off {
    background-color: rgb(0, 0, 0);
}

.ch1{
    background-color: rgb(0, 26, 255);
}
.ch2{
    background-color: rgb(255, 0, 0);
    
}
.ch3{
    background-color: rgb(255, 196, 0);
    
}
.ch4{
    background-color: rgb(136, 255, 0);
    
}
.ch5{
    background-color: rgb(0, 255, 221);
    
}
.ch6{
    background-color: rgb(144, 160, 255);
    
}
.ch7{
    background-color: rgb(255, 172, 172);
    
}
.ch8{
    background-color: rgb(241, 255, 180);
    
}
.ch9{
    background-color: rgb(255, 222, 160);
    
}
.cha{
    background-color: rgb(255, 169, 229);
    
}
.chb{
    background-color: rgb(255, 0, 234);
    
}
.chc{
    background-color: rgb(112, 48, 64);
    
}